<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/app.css}">

    <title>Document</title>
</head>

<body>

    <div id="app"><!--Main Content-->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="main"><!--Content-->
            <nav th:replace="fragments/header :: header"></nav>
            <div class="main-content container-fluid" th:fragment="contenido">
                <!--layout:fragment="content"Dinamic Content-->
                <div class="page-title">
                    <h3>Metodos de Pago</h3>
                    <p class="text-subtitle text-muted">Manejo eficiente de los metodos de pago</p>
                </div>
                <section class="section"> <!--Seccion dinamica-->

                    <div class="row my-3">
                        <div class="col-12"><!--Tablas de metodos de pago-->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Edad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jane</td>
                                        <td>Doe</td>
                                        <td>28</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Emily</td>
                                        <td>Smith</td>
                                        <td>35</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12"> <!--Fomrulario de creacion de metodoso de pago-->
                            <p class="h4 m-3 text-center">Ingresar un Método de Pago</p>
                            <form method="post" action="insert_metodo_pago" enctype="application/json">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Nombre Metodo Pago</label>
                                    <input type="text" class="form-control" id="nombreMetodoPago" name="nombreMetodoPago"
                                        >
                                
                                </div>
                                <div class="mb-3">
                                    <label for="nombreMetodoPago" class="form-label">Detalles</label>
                                    <input type="text" class="form-control" id="detallesMetodoPago" name="detallesMetodoPago">
                                </div>
  
                                <button type="submit" class="btn btn-primary text-center">Submit</button>
                            </form>
                        </div>

                    </div>



                </section>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>

    <script th:src="@{/js/feather.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>

    <script th:src="@{/js/main.js}"></script>

</body>

</html>