<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
</head>

<body>

    <div id="app"><!--Main Content-->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="main"><!--Content-->
            <nav th:replace="fragments/header :: header"></nav>
            <div class="main-content container-fluid" th:fragment="contenido">
         
                <section class="content container-fluid">
                    <form th:action="@{/actualizar_cliente}" method="post">
                        <div class="form-group">
                            <h2>Actualizar Cliente</h2>
                            <form th:action="@{/actualizar_cliente}" th:object="${orden}" method="post">
                                <div class="form-group">
                                    <label for="id_cliente" class="form-label">id del cliente</label>
                                    <input type="number" class="form-control" id="id_cliente" name="id_cliente" required>
                                </div>
                                <div class="form-group">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                                </div>
                                <div class="form-group">
                                    <label for="primerApellido" class="form-label">Primer Apellido</label>
                                    <input type="text" class="form-control" id="primerApellido" name="primer_Apellido" required>
                                </div>
                                <div class="form-group">
                                    <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                                    <input type="text" class="form-control" id="segundoApellido" name="segundo_Apellido" required>
                                </div>
                                <div class="form-group">
                                    <label for="cedula" class="form-label">Cédula</label>
                                    <input type="number" class="form-control" id="cedula" name="cedula" required>
                                </div>
                                <div class="form-group">
                                    <label for="edad" class="form-label">Edad</label>
                                    <input type="number" class="form-control" id="edad" name="edad" required>
                                </div>
                                <div class="form-group">
                                    <label for="genero" class="form-label">Género</label>
                                    <select class="form-select" id="genero" name="genero" required>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="idDireccion" class="form-label">ID de Dirección</label>
                                    <input type="number" class="form-control" id="idDireccion" name="id_direccion" required>
                                </div>
                                <button type="submit" class="btn btn-success">Actualizar cliente</button>
                            </form>
                        </div>
                    </form>
                    
                    <!-- Mensaje de éxito (oculto por defecto) -->
                    <div id="mensajeExito" style="display: none;">
                        El cliente fue ingresado con éxito.
                    </div>
                    
                </section>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/feather.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            // Obtener la URL actual
            var path = window.location.pathname;

            // Dividir la URL en partes utilizando "/" como separador
            var partesPath = path.split("/");

            // El ID estará en la última parte del path (si sigue la convención de /ruta/id)
            var id = partesPath[partesPath.length - 1];
            console.log(id)
           $.ajax({
                url: "/obtenerCliente", // URL a la que enviar la solicitud
                type: "POST", // Tipo de solicitud (GET, POST, etc.)
                data: { id_cliente: id }, // Parámetros de la solicitud (opcional)
                success: function(response) {
                    // Función que se ejecuta cuando la solicitud tiene éxito
                    console.log("Respuesta exitosa:", response);
                    $("#id_cliente").val(response.id_cliente)
                    $("#nombre").val(response.nombre)
                    $("#primerApellido").val(response.primer_Apellido)
                    $("#segundoApellido").val(response.segundo_Apellido)
                    $("#cedula").val(response.cedula)
                    $("#edad").val(response.edad)
                    $("#idDireccion").val(response.id_direccion)
                    $("#genero").val(response.genero).change();
                },
                error: function(xhr, status, error) {
                    // Función que se ejecuta en caso de error
                    console.error("Error en la solicitud:", error);
                }
            });
        });
        
        function mostrarMensajeExito() {
            var mensaje = document.getElementById("mensajeExito");
            mensaje.style.display = "block"; // Muestra el mensaje
        }
    </script>

</body>
</html>