<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>



<title>Document</title>
</head>

<body>

    <div id="app"><!--Main Content-->
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="main"><!--Content-->
            <nav th:replace="fragments/header :: header"></nav>
            <div class="main-content container-fluid" th:fragment="contenido">
                <!--layout:fragment="content"Dinamic Content-->
                <div class="page-title">
                    <h3>Usuario</h3>
                    <p class="text-subtitle text-muted">Administración de Usuarios</p>
                </div>
                <section class="section"> <!--Seccion dinamica-->

                    <div class="row my-3">
                        <div class="col-12" style="overflow: scroll;"><!--Tablas de metodos de pago-->
                            <table class=" display" id="tablaUsuarios">
                                <thead>
                                    <tr>
                                        <th scope="col">Id Usuario</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Rol</th>
                                    
                                        <th>Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="usuario : ${usuarios}">
                                        <td th:text="${usuario['id_usuario']}"></td>
                                        <td th:text="${usuario['NOMBRE']}"></td>
                                        <td th:text="${usuario['ROL']}"></td>

                                        <td>
                                            <button class="btn btn-danger delete-btn"
                                                th:onclick="'eliminar(\'' + ${usuario.id_usuario} + '\')'">
                                                Eliminar</button>
                                                <button class="btn btn-success update-btn"
                                                th:onclick="'actualizarUsuario(\'' + ${usuario.id_usuario} + '\')'">
                                                Actualizar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        

                    </div>



                </section>
            </div>
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/feather.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script type="text/javascript">


        function eliminar(id_usuario) {
            if (confirm("¿Estás seguro de que deseas eliminar este usuario?")) {
                $.ajax({
                    url: '/usuarios_eliminar',
                    type: 'POST',
                    data: { id_usuario: id_usuario },
                    success: function (data, textStatus, xhr) {
                        // Recargar la página después de la eliminación exitosa
                        console.log("aquiiiiii")
                        window.location.reload();
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
        }


        $(document).ready(function () {
            console.log('hola')
            $('#tablaUsuarios').DataTable();
           
            $('.selectPuestos').select2();


            $.get("empleados/obtener_puestos", function (data) {
                var options = '';
                $.each(data, function (index, puesto) {
                    options += '<option value="' + puesto.idPuesto + '">' + puesto.nombrePuesto + '</option>';
                });
                $('.selectPuestos').append(options);
            });

        });


        // Función para abrir el modal y cargar los datos del empleado
        // Función para abrir el modal y cargar los datos del empleado
      

        function actualizarUsuario(id) {
            window.location.href = '/usuarios_listar/' + id;
        }





    </script>


</body>

</html>